<style>
@import url('https://fonts.googleapis.com/css?family=Bangers');

 
  .aboutMe{
    width: 50%;
    left: 20px;
    position: relative;
    color: white;
	background-color:black;
  }
 
 
  .MainFooter{
    color: white;
    text-align: center;
    font-family: 'Bangers', cursive;
    position:relative;
    font-size: 25px;
	background-color: black;
  }

</style>

<div class = "aboutMe">
		<h3 style = "margin-left:10px">Contact Me</h3>
		<p><i class ="fa fa-envelope" style ="font-size: 20px; color: white;margin-right: 10px;"></i><a href ="https://www.google.com/gmail/">alifjacks@gmail.com</a></p>
		<p><i class ="fa fa-phone" style ="font-size: 20px; color: white;margin-right: 10px;"></i>081298444600</p>
		<p><i class ="fa fa-map-marker" style ="font-size: 20px; color: white;margin-right: 10px;"></i>Lenteng Agung, DKI Jakarta</p>
	</div>
<div class = "MainFooter">
  <p>Created by Copyright &#169; {{author}}</p>
</div>
